.game-score {
	position: absolute;
	left: 10px;
	top: 10px;
	border-radius: 50%;
	color: var(--white);
	background-color: var(--red);
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 15;
	font-size: 25px;
}

.car {
	position: absolute;
	width: 80px;
	transform: translateY(75vh);
	-webkit-transform: translateY(75vh);
	-moz-transform: translateY(75vh);
	-ms-transform: translateY(75vh);
	-o-transform: translateY(75vh);
}

.road {
	background: var(--road);
	width: 300px;
	height: 100vh;
}

.tree {
	position: absolute;
	z-index: 10;
}

.tree1 {
	width: 250px;
	transform: translate(-220px, -15vh);
	-webkit-transform: translate(-220px, -15vh);
	-moz-transform: translate(-220px, -15vh);
	-ms-transform: translate(-220px, -15vh);
	-o-transform: translate(-220px, -15vh);
}
.tree2 {
	width: 300px;
	transform: translate(-240px, 25vh);
	-webkit-transform: translate(-240px, 25vh);
	-moz-transform: translate(-240px, 25vh);
	-ms-transform: translate(-240px, 25vh);
	-o-transform: translate(-240px, 25vh);
}
.tree3 {
	width: 230px;
	transform: translate(-200px, 70vh);
	-webkit-transform: translate(-200px, 70vh);
	-moz-transform: translate(-200px, 70vh);
	-ms-transform: translate(-200px, 70vh);
	-o-transform: translate(-200px, 70vh);
}
.tree4 {
	width: 280px;
	transform: translate(240px, -5vh);
	-webkit-transform: translate(240px, -5vh);
	-moz-transform: translate(240px, -5vh);
	-ms-transform: translate(240px, -5vh);
	-o-transform: translate(240px, -5vh);
}
.tree5 {
	width: 240px;
	transform: translate(200px, 40vh);
	-webkit-transform: translate(200px, 40vh);
	-moz-transform: translate(200px, 40vh);
	-ms-transform: translate(200px, 40vh);
	-o-transform: translate(200px, 40vh);
}
.tree6 {
	width: 270px;
	transform: translate(210px, 80vh);
	-webkit-transform: translate(210px, 80vh);
	-moz-transform: translate(210px, 80vh);
	-ms-transform: translate(210px, 80vh);
	-o-transform: translate(210px, 80vh);
}

.game-button {
	position: fixed;
	right: 20px;
	top: 20px;
	background: transparent;
	cursor: pointer;
	z-index: 20;
	max-width: fit-content;
	@include transition;

	&:hover {
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
	}

	& .img {
		width: 60px;
		height: 60px;
	}

	& .play {
		display: none;
	}
}

.danger {
	position: absolute;
	width: 80px;
	transform: translate(-100px, -250px);
	-webkit-transform: translate(-100px, -250px);
	-moz-transform: translate(-100px, -250px);
	-ms-transform: translate(-100px, -250px);
	-o-transform: translate(-100px, -250px);
}

.coin {
	position: absolute;
	width: 50px;
	transform: translate(50px, -100px);
	-webkit-transform: translate(50px, -100px);
	-moz-transform: translate(50px, -100px);
	-ms-transform: translate(50px, -100px);
	-o-transform: translate(50px, -100px);
}

.backdrop {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: var(--backdrop);
	z-index: 50;
}

.backdrop-container {
	padding-block: 24px;
	padding-inline: 20px;
	background: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.finish-text {
	display: flex;
	align-items: center;
	font-size: 20px;
	gap: 10px;

	&::after,
	&::before {
		content: "👾";
		display: block;
		font-size: 35px;
		animation: ease var(--0-3s) jump infinite;
		animation-direction: alternate;
	}

	&::before {
		animation-delay: var(--0-1s);
	}

	& span {
		color: var(--dark-rose);
		font-size: 25px;
	}
}

.restart-button {
	border: none;
	color: var(--white);
	background: var(--dark-rose);
	font-size: 20px;
	padding: 8px 25px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	@include transition;
	&:hover {
		background: var(--rose);
	}
}
