:root {
	/*colors*/
	--rose: hsla(327, 85%, 37%, 1);
	--dark-rose: hsla(327, 84%, 30%, 1);
	--red: hsla(13, 86%, 49%, 1);
	--grass: hsla(71, 49%, 32%, 1);
	--road: hsla(264, 2%, 51%, 1);
	--backdrop: hsla(0, 0%, 0%, 0.75);
	--white: hsla(0, 0%, 100%, 1);
	/*colors*/

	/*fonts*/
	--primary-font: "Montserrat", sans-serif;
	/*fonts*/

	/* delay */
	--0-3s: 0.3s;
	--0-1s: 0.1s;
	/* delay */
}
